body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
h3{
    color: white;
    position: absolute;
    top: 40%;
}
#email{
    width: 350px;
    padding: 10px;
    background: #292929;
    border: none;
    outline: none;
    color: white;
    font-size: 22px;
    border-radius: 6px;
}
.inputBox{
    position: relative;
}
#text{
    display: block;
    font-size: 24px;
}
#form.invalid .inputBox::before{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    background: url(images/invalid.png);
    background-size: cover;
}
#form.valid .inputBox::after{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    background: url(images/valid.png);
    background-size: cover;
}